* {
  box-sizing: border-box;
}
html,
body {
  color: white;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

input {
  width: 10em;
  height: 2em;
  background-color: gray;
  border-radius: 8%;
  border-style: none;
}
input:focus {
  outline-color: blue;
  outline-style: solid;
}
input:active {
  background-color: gray;
}

@media only screen and (max-width: 600px) {
  input {
    margin: 0.5em;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .max {
    max-width: 20em;
  }
}

@media only screen and (min-width: 600px) {
}

.bg1 {
  background-image: url("https://images.unsplash.com/photo-1590821695525-1e86ef70a7ee?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
